@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/DesignerVN-Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.overpass {
  font-family: 'Overpass', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.zaui-bottom-navigation-content {
  height: auto;
  padding: 10px;
  box-shadow: -3px -3px 3px #cccccc8c;
}

#app {
  background-color: #ffffff;
}

.zaui-bottom-navigation-item .zaui-bottom-navigation-item-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.zaui-bottom-navigation-item.zaui-bottom-navigation-item-active
  .zaui-bottom-navigation-item-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #006af5;
}

.zaui-bottom-navigation-item:active {
  transform: scale(0.95);
}

.Toastify__toast {
  border-radius: 20px !important;
  left: 20%;
  top: 40px;
  max-width: 220px;
  color: white !important;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(9, 178, 235, 0.39957990031950286) 12%,
    rgba(92, 223, 62, 0.3799720571822479) 60%,
    rgba(118, 237, 8, 0.47521015242034315) 75%,
    rgba(0, 212, 255, 0.34075637090773814) 100%
  ) !important;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 17px;
  width: 90%;
  padding: 30px 10px;
}