@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/DesignerVN-Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}
.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
.overpass {
  font-family: 'Overpass', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.zaui-bottom-navigation-content {
  height: auto;
  padding: 10px;
  box-shadow: -3px -3px 3px #cccccc8c;
}

#app {
  background-color: #ffffff;
}

.zaui-bottom-navigation-item .zaui-bottom-navigation-item-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.zaui-bottom-navigation-item.zaui-bottom-navigation-item-active
  .zaui-bottom-navigation-item-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #006af5;
}

.zaui-bottom-navigation-item:active {
  transform: scale(0.95);
}

.Toastify__toast {
  border-radius: 20px !important;
  left: 20%;
  top: 40px;
  max-width: 220px;
  color: rgb(44, 44, 44) !important;
  font-weight: 400;
  background: #ffffff;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 17px;
  width: 90%;
  padding: 30px 15px;
  font-weight: 500;
}
